{% extends "quiz/base.html" %}
{% block title %}拾得物管理アプリトップ{% endblock %}
{% block content %}

<!-- ここが恐らくトップ画面になりそう -->
<div class="text-center">
    {% if current_user.is_authenticated %}
    <!-- ログインしている状態でしたら下のような文章が出てきて -->
    <p>AIの作り出した問題に答えるクイズアプリです。</p>

    <!-- <li class="nav-item"> -->
     <a class="nav-link" href="{{ url_for('quiz.quiz_page') }}">
     <button>  
     クイズに挑戦する
     </button> 
    </a>

     <a class="" href="">
     <button> 
     ランキングを見る
     </button>  
    </a>
     <!-- </li> -->


    {% else %}
    <p>
        <!-- ログインしていなかったら下のような文章が出てくる -->
        ログイン、もしくは新規登録を行ってください。
    </p>
    {% endif %}
</div>
{% endblock %}