
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    </head>
<!-- ここまでがheader部分 -->

<!-- ここが恐らくトップ画面になりそう -->
<div class="text-center">
<h1 class="l-title">AI QUIZ</h1>
<p>AIの作り出したクイズに挑戦しよう。</p>
    {% if current_user.is_authenticated %}
    <!-- ログインしている状態でしたら下のような文章が出てきて -->
    <!-- <li class="nav-item"> -->
     <a class="nav-link" href="{{ url_for('quiz.quiz_page') }}">
     <button class="u-button__challenge">  
     クイズに挑戦する
     </button> 
    </a>
     <a class="nav-link" href="">
     <button class="u-button__ranking"> 
     ランキングを見る
     </button>  
    </a>
    <a class="nav-link" href="{{ url_for('auth.logout') }}">
        <button class="u-button__ranking">
            ログアウト
        </button>
    </a>
     <!-- </li> -->
    {% else %}
    
<!-- ログインしていなかったら下のような文章が出てくる -->
 <p> ログイン、新規登録をしてください。</p> 
<a class="nav-link" href="{{ url_for('auth.login') }}">
<button class="u-button__ranking"> ログイン</button>  
</a>

<a class="nav-link" href="{{ url_for('auth.signup') }}">
<button class="u-button__ranking">   
ユーザ登録
</button> 
</a>
            




    
    {% endif %}
</div>
