
{% extends "quiz/index.htm" %}

{% block title %}ユーザ新規登録{% endblock %}

{% block content %}
        <h1>ユーザー新規登録</h1>
        <section>
            <form method="post" action="{{ url_for('auth.signup', next=request.args.get('next')) }}"
                class="form-signin">
                {{ form.csrf_token }}
                {% for message in get_flashed_messages() %}
                <div class="dt-auth-flash">{{ message }}</div>
                {% endfor %}
                {{ form.username(class="l-user__name", placeholder="ユーザー名") }}
                {{ form.password(class="l-user__name",placeholder="パスワード") }}
                {{ form.submit(class="u-button__ranking") }}
            </form>
        </section>
{% endblock %}

